* {
    margin: 0;
    padding: 0;
    font-family: 'po';
}
@font-face {
    font-family: 'po';
    src: url("Fuentes/Poppins.ttf");
}
body {
    height: 100vh;
    background: linear-gradient(to top right, #477294, #77a56b);
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #e7e7e7;
    padding: 2em;
    display: grid;
    border-radius: .5em;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    text-align: center;
}
.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}
h1 {
    color: #77a56b;
}
h4 {
    margin: 1em 0 .5em 0;
    color: #272727;
}
input {
    background: none;
    margin-bottom: 1em;
    padding: .5em;
    outline: none;
    border: .2em solid #878787;
    border-radius: .5em;
    color: #272727;
    font-weight: bold;
}
input:invalid {
    animation: nop .3s;
}
@keyframes nop {
    25% { transform: translateX(.5em); }
    50% { transform: translateX(-.5em); }
    75% { transform: translateX(.5em); }
}
a {
    margin-top: 1em;
    padding: .8em;
    background-color: #608eb7;
    border: .1em solid #272727;
    border-radius: .5em;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #272727;
    text-decoration: none;
}
